<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to Bloggy McBlogFace</h1>
    <p class="lead">A place where everything is made up and the points don't matter.</p>
    <hr class="my-4">
    <p>This is just a test application deployed to production for educational purposes. Let's have some fun!</p>
    <p class="lead">
    <%= link_to "Sign Up!", signup_path, class:"btn btn-success btn-lg" %>
  </div>
</div>
